/*RESET
-----------------------------------------*/

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #2c3e50;
}

:root {
    font-size: 16px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #f47933;
}

img {
    max-width: 100%;
    border: 0;
    border: none;
}

input,
button,
textarea {
    border: 0;
}

.font-zero {
    font-size: 0;
}


/*GERAIS
-----------------------------------------*/

.row {
    float: left;
    width: 100%;
}

.content {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}