.header {
    border-top: 6px solid #2c3e50;
}


/* nav-toggle */

#nav-toggle {
    border-bottom-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    position: fixed;
    background: #2c3e50;
    z-index: 15;
    display: none;
    padding: 15px;
    top: 0;
    right: 0;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

#nav-toggle span {
    border-radius: 1px;
    height: 2px;
    width: 30px;
    display: block;
    background: #fff;
    -webkit-border-radius: 8px;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

#nav-toggle span:nth-child(2) {
    margin: 6px 0;
}

#nav-toggle.active span:nth-child(1) {
    transform: rotate(45deg) translate3d(6px, 6px, 0);
    -webkit-transform: rotate(45deg) translate3d(6px, 6px, 0);
}

#nav-toggle.active span:nth-child(2) {
    opacity: 0;
}

#nav-toggle.active span:nth-child(3) {
    transform: rotate(-45deg) translate3d(6px, -5px, 0);
    -webkit-transform: rotate(-45deg) translate3d(6px, -5px, 0);
}


/* header logo */

.header-logo {
    width: 180px;
    padding: 22px 0;
    float: left;
}


/* header Menu */

.header-nav {
    float: left;
    padding: 25px 0;
}

.header-nav ul li {
    display: inline-block;
    margin: 0 3px;
    position: relative;
}

.header-nav ul li a {
    color: #2c3e50;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.875rem;
}

.header-nav ul li a:hover {
    color: #f47933;
}

.header-nav ul li a.active {
    color: #f47933;
}


/* SEARCH */

.header-search {
    position: relative;
    float: right;
    margin: 15px;
}


/* CROME/OPERA/SAFARI */

.header-search input::-webkit-input-placeholder {
    color: #fff;
}


/* Mozilla Firefox 4 to 18 */

.header-search input:-moz-placeholder {
    color: #fff;
    opacity: 1;
}


/* Mozilla Firefox 19+ */

.header-search input::-moz-placeholder {
    color: #fff;
    opacity: 1;
}


/* IE 10+ */

.header-search input:-ms-input-placeholder {
    color: #fff;
}


/* Microsoft Edge */

.header-search input::-ms-input-placeholder {
    color: #fff;
}


/* Browser modernos */

.header-search input::placeholder {
    color: #fff;
}

.header-search input {
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    background: #01c0b5;
    padding: 10px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
}

.header-search button {
    position: absolute;
    top: 50%;
    right: 8px;
    color: #fff;
    background: transparent;
    font-size: 1.5rem;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}


/* HEADER REDES */

.header-redes {
    text-align: center;
    margin: 25px 0;
    display: none;
}

.header-redes a {
    color: #fff;
    font-size: 2rem;
    margin: 0 10px;
}


/* BREACKPOINTS */


/* ======================================== */


/* MAX-WIDTH */

@media(max-width: 959.9px) {
    #nav-toggle,
    .header-redes {
        display: block;
    }
    /* header */
    .header {
        height: 58px;
    }
    /* header logo */
    .header-logo {
        max-width: 180px;
        width: 60%;
        padding: 12px 0;
    }
    /* Menu */
    .header-collapse {
        overflow-y: auto;
        position: fixed;
        background: rgba(45, 63, 81, .95);
        width: 100%;
        height: 100%;
        z-index: 10;
        padding: 15px;
        top: -100%;
        left: 0;
        transition: top .4s ease;
        -webkit-transition: top .4s ease;
    }
    .header-collapse.active {
        top: 0%;
    }
    .header-nav {
        padding: 25px 0;
        float: none;
    }
    .header-nav ul li {
        width: 100%;
        text-align: center;
        padding: 5px 0;
    }
    .header-nav ul li a {
        color: #fff;
        font-size: 1.4rem;
    }
    /* SEARCH */
    .header-search {
        max-width: 180px;
        margin: 0 auto;
        float: none;
    }
    .header-search input {
        padding: 15px;
    }
}


/* MAX-WIDTH */

@media(min-width: 960px) {
    .header-nav {
        margin-left: 2%;
    }
    .header-nav ul li a.active:before {
        background: #f47933;
        content: "";
        position: absolute;
        height: 6px;
        width: 100%;
        top: -31px;
        left: 0;
    }
}

@media(min-width: 1024px) {
    .header-nav ul li {
        margin: 0 6px;
    }
}

@media(min-width: 1144px) {
    .header-logo {
        width: auto;
    }
    .header-nav ul li a {
        font-size: 1rem;
    }
}

@media(min-width: 1280px) {
    .header-logo {
        width: auto;
    }
    .header-nav ul li {
        margin: 0 8px;
    }
    .header-search {
        width: 160px;
    }
}